body {
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #f5a623, #f29d77); */
    margin: 0;
    overflow: hidden;
    background-image: url("dodger-stadium.jpg");
    background-size: cover;
}

.flashcard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 360px;
    margin-bottom: 60px;
    text-align: center;

}
.logo img{
    /* background-image: url("Dodgers_Logo.png"); */
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.flashcard {
    width: 90%;
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flashcard.is-flipped {
    transform: rotateY(180deg);
}

.flashcard div {
    position: absolute;
    width: 100%;
    height: 70%;
    backface-visibility: hidden;/*only shows when the card is flipped.*/
    border-radius: 15px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.back {
    font-size: 1rem;
    font-weight: 900;
    transform: rotateY(180deg);
}


button {
    margin:10px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #1e90ff;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #005a9c;
}

button:active{
    transform: scale(0.95);
}

/* colors */

h1 {
    color:#005a9c;
}